body {
	margin: 0;
	font-family:'Helvetica', 'Arial', sans-serif ; /*you can write the font with quotes around it or not*/
	font-size: 20px;
	line-height: 30px;

}

header {
	background-color: #26D29B;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2 {
	/*google font*/
	font-family: 'Black Ops One', cursive;
	font-family: 'Yatra One', cursive;
}

header h1 {
	color: white;
	font-size: 80px;
}

header img{
	border-radius: 165px;
	width: 300px;
	border:15px solid #EC5808;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
max-width: 100%;
}

h2{
font-size:35px ;
color:#EC5808 ;
margin: 40px 0 10px;
}

/*property for a element*/
a{
	color: darkmagenta ;
}

/*proprerty that will change the color of a link when you hover above it*/
a:hover{
	color: white ;
	/*we can add a background color*/
	background-color:#EC5808 ;
}

footer{
	background-color:#26D29B ;
	text-align: center ;
	color: white ;
	padding: 50px;
}

footer p{
	margin:0;
}

/*if there is a link in the footer*/
footer a {
	color: ;
}


.caption{
	color: slategrey;
	font-style: italic;
	margin-top: 0;
	text-align: center;
}





